<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="CSS\Grafico.css">
        <title>Grafico</title>
    </head>

    <body>
        <header>
            
            <div class="cabecalho1">
                <img id="menu" src="img\list (1).png" alt="menu">
            </div>
            <h1 id="titulo">Visão Geral</h1>
            
            <div class="cabecalho2">
                <img id="iconuser" src="img\user (1).png" alt="usuario">
            </div>
                <h5 id="saudacao">Olá, Usuário</h5>
            <a href="" id="sair"> Sair </a>
                
        </header>

        <div id="titletabela">
            <p>Minhas Movimentações</p>
        </div>

        <main class= container1>
            <table border="1">
                <caption id="titlecontas">Contas a Pagar</caption>
                <tr>
                    <th>Conta</th>
                    <th>Vencimento</th>
                    <th>Valor</th>
                </tr>
                <tr>
                    <td>Luz</td>
                    <td>Dia 10</td>
                    <td>R$178,97</td>
                </tr>
                <tr>
                    <td>Condomínio</td>
                    <td>Dia 5</td>
                    <td>R$549,90</td>
                </tr>
            </table>
        </main>

        <img src="img\plus (1).png" id="imgsoma" alt="">
        <a href="" id="addconta"> Adicionar Conta</a>
        

        <img src="img\business-report (1).png" id="imgrelatorio" alt="">
        <a href="" id="relatorio">Gerar Relatório</a>
        

        <footer>
                <a href="" id="rodape1">Quem Somos</a>
                <a href="" id="rodape2">Política de Privacidade</a>
                <a href="" id="rodape3">Termos de Uso</a>
                <a href="" id="rodape4">Fale conosco</a>
        </footer>

    </body>

</html>