<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <title>Finaças</title>
</head>
<body>
  <div>
    <nav>
      <div class="logo">
        <a href="#"> Finanças na Mão</a>
      </div>
      <div class="user-area">
        <a href="#">Usuário</a>
        <a href="#">Sair</a>
      </div>
    </nav>
      </div>
    <div class="container">
      <div>
        <img src="./salary.png" alt="">
      </div>
      <div>
        <h3>Nenhum investimento efetuado</h3>
      </div>
      <div>
        <a href="./new_inv.html">
        <Button>
          Fazer investimento 
        </Button>
      </a>
      </div>
  </div>
  <footer>
    <div class="area">
      <a href="">
        <p>Quem somos</p>
        </a>
    </div>
    <div class="area">
      <a href="">
        <p>Politica e privacidade</p>
        </a>
    </div>
    <div class="area">
      <a href="">
        <p>Termos de Uso</p>
        </a>
    </div>
    <div class="area">
      <a href="">
      <p>Fale conosco</p>
      </a>
    </div>  
  </footer>
</body>
</html>