<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./new_inv.css">
  <title>Novo Investimento</title>
</head>
<body>
  <div>
    <h1>Novo Investimento</h1>
  </div>
    <div class="">
      <h2>Onde aplicar</h2>
      <Select>
        <option value="">Selecione</option>
        <option value="">T.D</option>
        <option value="">CDB</option>
        <option value="">F.I</option>
        <option value="">Imoveis</option>
      </Select>
    </div>

  
</body>
</html>