body{
  font-family:Arial, Helvetica, sans-serif;
  font-weight:lighter;
}

h1{
  display: flex;
  font-size:50px;
  text-align: center;
  justify-content: center;
}
p{
  text-align:start;
  font-size: 12px;
}
.bloco{
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap:2rem;
}

.box-1,.box-2,.box-3,.box-4 {
  background-color:#FBF7F1;
  text-align: center;
  
  border: 1px solid black;
  border-radius: 0.78rem;
}

.btn-1{
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  padding:1rem 3rem;
  border-radius: 8px;
  background: #07352E;
  color:#ffff;
  margin:1rem;
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500
 }
 /* Tablet */
@media screen and (min-width: 768px) and (max-width: 959px) {
  p, h2, h3{
      font-size: 16px;
  }
}

/* All Mobile  */
@media screen and (max-width: 767px) {
  p, h2, h3{
      font-size: 14px;
  }
  .bloco{
    display: grid;
    grid-template-columns: 2fr;
    gap:2rem;
  }
  .box-1, .box-2, .box-3, .box-4{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

  }
}


/* Mobile Portrait */
@media screen and (max-width: 479px) {
  p, h2, h3{
      font-size: px;
  }
}