<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./novo_invest.css">
  <title>Novo investimento</title>
</head>
<body>
  <div>
    <div>
      <h1>
        Novo investimento 
      </h1>
      <div>
        <h2>Onde deseja aplicar</h2>
        <p>opc1</p>
        <p>opc2</p>
        <p>opc3</p>
        <p>opc4</p>
      </div>
      <div>
        <h2>Valor aplicado</h2>
      </div>
      <div>
        <h2>Data da aplicaçao</h2>
      </div>
    </div>
    <div>
      lado 2
    </div>
  </div>
  
</body>
</html>