@{
    ViewData["Title"] = "Quem Somos";
}

<div class="d-flex justify-content-center align-items-center flex-column verde w-100 p-3 m-3 text-light text-center" style="border-radius: 30px">
    <h3 class="p-1">Quem somos</h3>
    <p>
        Muito prazer, nós somos a equipe do Finanças na Mão! Uma empresa brasileira (e põe brasileira nisso! Nossos desenvolvedores estão espalhados por várias partes do Brasil) nascida com o intuito de auxiliar pessoas. Aqui, a nossa prioridade é simplificar a forma com que você lida com seu dinheiro para que tenha mais tempo para gastar com o que realmente importa e para realizar sonhos e projetos.
    </p>
    <p>
        Nós acreditamos que tarefas simples e cotidianas podem ser feitas de forma mais intuitiva. Por isso, investimos todo o nosso conhecimento e técnica neste site para auxiliar você a organizar sua vida financeira e/ou seu pequeno negócio.
    </p>
    <p>
        Conte conosco para fazer parte da sua vida. Aqui, nossa prioridade é servir você.
    </p>
    <p>
        Um abraço! <br>
        Equipe Finanças na Mão.
    </p>
</div>