@{
    ViewData["Title"] = "Contact";
}

<div class="d-flex verde text-center p-4 text-light"  style="border-radius: 30px">
<form class="d-flex flex-column justify-content-center align-items-center">
    <h3  class="p-1">Fale Conosco</h3>
    <div class="d-inline-flex flex-row justify-content-center align-items-center flex-wrap p-2 form-row" >
        <div class="d-inline-flex flex-column justify-content-center align-items-center p-2 col" style="width: 25rem;">
            <input class="nome form-control m-2" name="nome" type="text" placeholder="Nome" required />
            <input class="email form-control m-2" name="email" type="email" placeholder="E-mail" required />
            <textarea class="form-control m-2" name="mensagem" rows="6" placeholder="O que deseja falar conosco? &#10 Duvida &#10 Sugestão &#10 Elogio &#10 Reclamação"></textarea>
        </div>
        <div class="d-inline-flex flex-column justify-content-center align-items-center p-2 col" style="width: 25rem;">
            <p>Finanças na Mão Tecnologia Financeira LTDA</p>
            <p>CNPJ 00.000.000/0001-00</p>
            <p>Av: Dom José Gaspar, 500 Coração Eucarístico - Belo Horizonte - MG 30535-901, Brasil</p>
            <button type="submit" class="nav-link btn-text btn-layout">Enviar</button>
        </div>
    </div>
</form>
</div>