@{
    ViewData["Title"] = "Política de Privacidade";
}

<div class="d-flex verde text-center w-100 p-3 text-light"  style="border-radius: 30px">
    <h2 class="p-1">Política de Privacidade</h2>
    <p>
    No Finanças na Mão, privacidade e segurança são prioridades e nos 
    comprometemos com a transparência do tratamento de dados pessoais dos nossos usuários/clientes. 
    Por isso, esta presente Política de Privacidade estabelece como é feita a coleta, uso e transferência 
    de informações de clientes ou outras pessoas que acessam ou usam nosso site.
    </p>
    <p>         
        Ao utilizar nossos serviços, você entende que coletaremos e usaremos suas informações pessoais nas 
    formas descritas nesta Política, sob as normas da Constituição Federal de 1988 (art. 5º, LXXIX; e o art. 22º, XXX - incluídos pela EC 115/2022), das normas de Proteção de Dados (LGPD, Lei Federal 13.709/2018), das disposições consumeristas da Lei Federal 8078/1990 e as demais normas do ordenamento jurídico brasileiro aplicáveis.
    </p>
    <p>
        Dessa forma, o Finanças na Mão, doravante denominada simplesmente como "Finanças na Mão", inscrita no CNPJ/MF sob o nº (nº do CNPJ), no papel de Controladora de Dados, obriga-se ao disposto na presente Política de Privacidade.
    </p>
</div>