@{
    ViewData["Title"] = "Termos de Uso";
}

<div class="d-flex justify-content-center align-items-center flex-column verde w-100 p-3 m-3 text-light text-center"  style="border-radius: 30px">
<h3 class="p-1">Termos e condições de uso do site</h3>
<p>
    Seja bem-vindo ao nosso site. Leia com atenção todos os termos abaixo.
</p>
<p>
    Este documento, e todo o conteúdo do site é oferecido por Finanças na Mão Tecnologia Financeira LTDA, neste termo representado apenas por "Finanças na Mão", que regulamenta todos os direitos e obrigações com todos que acessam o site, denominado neste termo como usuários/clientes, reguardado todos os direitos previstos na legislação, trazem as cláusulas abaixo como requisito para acesso e visita do mesmo, situado no endereço (adicionar endereço do site). 
</p>
<p>
    A permanência no website implica-se automaticamente na leitura e aceitação tática do presente termos de uso a seguir. Este termo foi atualizado pela última vez em 14 de setembro de 2021.
</p>
<p>
    1. DA FUNÇÃO DO SITE <br>
    Este site foi criado e desenvolvido com a função de trazer conteúdo informativo de alta qualidade, a venda de produtos físicos, digitais e a divulgação de prestação de serviço. Finanças na Mão busca através da criação de conteúdo de alta qualidade, desenvolvido por profissionais da área, trazer o conhecimento ao alcance de todos, assim como a divulgação dos próprios serviços.
</p>
<p>
    Nesta plataforma, poderá ser realizado tanto a divulgação de material original de alta qualidade, assim como a divulgação de produtos de e-commerce.
</p>
</div>