/* inicio login css */

.verde {
    background: rgb(80,182,118);
    background: linear-gradient(90deg, rgba(80,182,118,1) 0%, rgba(51,148,87,1) 51%);
    
}

.nav-img {
    width: 2rem;
    height: 2rem;
}

.nav-color {
    color: antiquewhite;
    color: #f7f7f7;
}

    .nav-color:hover {
        color:white;
    }

.nav-titulo {
    font-size: 1.8rem;
    list-style: none;
    margin-left: 1rem;
    text-decoration: none;
}

.navbar-custom {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-around;
}

.width {
    width: 18rem;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn-layout {
    width: 8rem;
    padding: 0.5rem;
    background-color: #eefff2;
    color: #6e6d6d;
    border: none;
    border-radius: 5px;
    text-align: center;
}

    .btn-layout:hover {
        background-color: #ffffff;
        color: rgba(51,148,87,1);
        cursor: pointer;
    }

.nav-custom {
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: color 0.15s ease-in-out, #fff 0.15s ease-in-out, inherit 0.15s ease-in-out;
}

.btn-custom {
    display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
}



.loginBox {
    width: 30vw;
    height: 519px;
}

.loginBox > section > form > .form-floating {
    min-width: 268px;
    max-width: 268px;
}

.loginBox > section > form > .form-floating > span > span {
    color: #950202;
    font-weight: 600;
    margin: 0 auto;
    min-width: 268px;
    max-width: 268px;
    font-size: 15px;
}

.loginBox > section > form > div {
    width: 100%;
    text-align: center;

}

.loginBox > section > form > div > .m-2 {
    color: aliceblue;
}


loginInput{
    min-width: 268px;
}

    .loginBox > section > form {
        width: 100%;
    }

    .loginBox > section > form > .form-floating {
        width: 100%;
        min-width: 0px;
        max-width: 3000px;
    }

    .loginBox > section > form > div {
            width: 100%;
            text-align: center;
 
 }

     .loginBox > section > form > .form-floating > input {
        margin-bottom: 20px;
        min-width: 300px;
     }

#login-submit {
    margin-bottom: 20px;
}
/*  fim login css*/

/* inicio cadastro css*/


.BoxCadastro {
    width: 27vw;
    height: 28%;
    padding: 20px 0;

}

.m-1{
    max-width: 340px;

}

#registerForm > .form-floating > input{
   width:100%;

}

#registerForm {
    justify-content: flex-start;
    padding: 0;
}

    #registerForm > .form-floating {
        width: 100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }


.BoxCadastro > form > .form-floating > span > span {
    color: #950202;
    font-weight: 600;
    margin: 0 auto;
    min-width: 268px;
    max-width: 268px;
    font-size: 15px;
}

.BoxCadastro > section > form > div {
     width: 100%;
     text-align: center;
}

.BoxCadastro > section > form {
     width: 100%;
}

.BoxCadastro > section > form > .form-floating  {
      min-width: 300px;
      max-width: 3000px;
}

.BoxCadastro > section > form > div {
      width: 100%;
      text-align: center;
}

/* fim cadastro css*/

/* inicio recuperar senha css*/

.recupSenhaBox {
    width: 500px;
    height: 300px;
    align-content:center;
    justify-content:center;
}

    .recupSenhaBox > .row > .col-md-4 {
        align-content: center;
        justify-content: center;
        width: 500px;
    }

    .recupSenhaBox > .row > .col-md-4 > form > .form-floating > span > span {
        color: #950202;
        font-weight: 600;
        margin: 0 auto;
        min-width: 268px;
        max-width: 268px;
        font-size: 15px;
    }

        .recupSenhaBox > .row > .col-md-4 > form > .form-floating{
            margin-bottom: 30px;
            margin-top: 30px;
        }

        .recupSenhaBox > h2 {
            margin-top: 20px;
        }

.recupSenhaBox > .row > .col-md-4 > form > button {
    width: 8rem;
    background-color: #ebe7d4;
    color: #6e6d6d;
    border: none;
    border-radius: 5px;
    text-align: center;
    }

.recupSenhaBox > .row > .col-md-4 > form > button:hover {
    background-color: #ffffff;
    color: #61876E;
    cursor: pointer;
}

/* fim recuperar senha css*/

@media (max-width: 550px) {
    .ocultarUser {
        display: none;
    }

    .width, .nav {
        flex-direction: row;
    }

    .footer-item {
        padding: 0.2rem;
    }

    .loginBox{
        width: 500px;
        height: 519px;
    }

    .loginBox > section > form {
       width: 100%;     
     }

    .loginBox > section > form > .form-floating {
        width: 100%;
        min-width:0px;
        max-width: 3000px;
     }

    .loginBox > section > form > div {
        width: 100%;
        text-align:center;

    }

    .loginBox > section > form > .form-floating > input {
        margin-bottom:20px;
    }

    #login-submit{
        margin-bottom:20px;
    }

    .ocultarLogo {
        display: none;
    }

    /* inicio cadastro css*/

    .BoxCadastro {
        width: 500px;
        height: 27%;
    }

    .m-1 {
        max-width: 340px;
    }

    #registerForm > .form-floating > input {
        width: 100%;
    }

    #registerForm {
        justify-content: flex-start;
    }

        #registerForm > .form-floating {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }


    .BoxCadastro > section > form > .m-1 > span > span {
        color: #950202;
        font-weight: 600;
        margin: 0 auto;
        min-width: 268px;
        max-width: 268px;
        font-size: 15px;
    }

    .BoxCadastro > section > form > div {
        width: 100%;
        text-align: center;
    }

    .BoxCadastro > section > form {
        width: 100%;
    }

        .BoxCadastro > section > form > .form-floating {
            min-width: 300px;
            max-width: 3000px;
        }

        .BoxCadastro > section > form > div {
            width: 100%;
            text-align: center;
        }

    /* fim cadastro css*/

}

@media (max-width: 767px) {
  
    .width, .nav {
        flex-direction: row;
    }

    .footer-item {
        padding: 0.2rem;
    }

    .loginBox {
        width: 100vw;
        height: 519px;
    }

    .loginBox > section > form {
        width: 100%;
    }

    .loginBox > section > form > .form-floating {
        width: 100%;
        min-width: 0px;
        max-width: 3000px;
    }

    .loginBox > section > form > div {
            width: 100%;
            text-align: center;
 
 }

     .loginBox > section > form > .form-floating > input {
        margin-bottom: 20px;
     }

    #login-submit {
        margin-bottom: 20px;
    }
    /* inicio cadastro css*/

    .BoxCadastro {
        width: 500px;
        height: 29%;
    }

    .m-1 {
        max-width: 340px;
    }

    #registerForm > .form-floating > input {
        width: 100%;
    }

    #registerForm {
        justify-content: flex-start;
    }

        #registerForm > .form-floating {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }


    .BoxCadastro > section > form > .m-1 > span > span {
        color: #950202;
        font-weight: 600;
        margin: 0 auto;
        min-width: 268px;
        max-width: 268px;
        font-size: 15px;
    }

    .BoxCadastro > section > form > div {
        width: 100%;
        text-align: center;
    }

    .BoxCadastro > section > form {
        width: 100%;
    }

        .BoxCadastro > section > form > .form-floating {
            min-width: 300px;
            max-width: 3000px;
        }

        .BoxCadastro > section > form > div {
            width: 100%;
            text-align: center;
        }

    /* fim cadastro css*/

}

@media (max-width: 1200px) {
    .width, .nav {
        flex-direction: row;
    }

    .footer-item {
        padding: 0.2rem;
    }

    .loginBox {
        width: 500px;
        height: 519px;
    }

    .loginBox > section > form {
        width: 100%;
    }

    .loginBox > section > form > .form-floating {
        width: 100%;
        min-width: 0px;
        max-width: 3000px;
    }

    .loginBox > section > form > div {
        width: 100%;
        text-align: center;
     }

     .loginBox > section > form > .form-floating > input {
        margin-bottom: 20px;
     }

    #login-submit {
        margin-bottom: 20px;
    }

    /* inicio cadastro css*/

    .BoxCadastro {
        width: 500px;
        height: 29%;
    }

    .m-1 {
        max-width: 340px;
    }

    #registerForm > .form-floating > input {
        width: 100%;
    }

    #registerForm {
        justify-content: flex-start;
    }

        #registerForm > .form-floating {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }


    .BoxCadastro > section > form > .m-1 > span > span {
        color: #950202;
        font-weight: 600;
        margin: 0 auto;
        min-width: 268px;
        max-width: 268px;
        font-size: 15px;
    }

    .BoxCadastro > section > form > div {
        width: 100%;
        text-align: center;
    }

    .BoxCadastro > section > form {
        width: 100%;
    }

        .BoxCadastro > section > form > .form-floating {
            min-width: 300px;
            max-width: 3000px;
        }

        .BoxCadastro > section > form > div {
            width: 100%;
            text-align: center;
        }

    /* fim cadastro css*/
}

@media (max-width: 400px) {
    .ocultarLogo {
        display: none;
    }
}