html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f1efe7;
    align-items: center;
}

/* Modal Cadastro */

#fadeCadastro, #modalCadastro {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#redefinirSenha-container > h2 {
    text-align: center;
    color: #EBE7D4;
    font-size: 2.2rem;
    font-weight: 800;
    margin-top: -7px;
}

#modalCadastro > login-container > form {
    background-color: #5a3636;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
}

.modalCadastro-body p {
    margin-bottom: 1rem;
}

#modalCadastro.hide,
#fadeCadastro.hide {
    opacity: 0;
    pointer-events: none;
}

#modalCadastro.hide {
    top: 0;
}

.justify-center {
    margin-top: 50px;
}

    .justify-center > a {
        color: #EBE7D4;
        font-size: 1.2rem;
        height: 20px;
    }



#fadeCadastro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #31302d3e;
    z-index: 5;
}

#modalCadastro {
    background-color: #61876E;
    width: 430px;
    height: 460px; /*qqlr coisa mudar aqui*/
    text-align: center;
    padding: 1.2rem;
    border-radius: 1.6rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    z-index: 10;
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
}

#redefinirSenha-container {
    background-color: #61876E;
    height: 100%;
    max-width: 100%;
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
}


#fadeCadastro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #31302d3e;
    z-index: 5;
}

#modalCadastro {
    background-color: #61876E;
    width: 450px;
    height: auto;
    text-align: center;
    padding: 1.2rem;
    border-radius: 1.6rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    z-index: 10;
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
}

#cadastro-container {
    background-color: #61876E;
    height: auto;
    max-width: 100%;
    animation: color 9s infinite linear;
    text-align: center;
    padding: 30px 40px;
}

#cadastroform {
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    width: 266px;
}

    #cadastroform > input {
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 15px;
        background-color: #ffffff;
        top: 1;
        left: 0;
        margin-top: 20px;
        transition: all .3s ease-out;
        border: none;
        font-size: 1rem;
    }

        #cadastroform > input[type="submit"] {
            margin-top: 40px;
            color: #888888;
            background-color: #EBE7D4;
            width: 150px;
            align-items: center;
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: 1rem;
            margin: 0 auto;
            margin-top: 40px;
        }

            #cadastroform > input[type="submit"]:hover {
                margin-top: 40px;
                color: #61876E;
                background-color: #ffffff;
                width: 150px;
                align-items: center;
                border-radius: 0.5rem;
                cursor: pointer;
                font-size: 1rem;
            }

#fadeCadastro, #modalCadastro {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#cadastro-container > h2 {
    font-weight: 800;
    text-align: center;
    color: #EBE7D4;
    font-size: 30px;
}

#modalCadastro > login-container > form {
    background-color: #5a3636;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
}

.modal-body p {
    margin-bottom: 1rem;
}

#modalCadastro.hide,
#fadeCadastro.hide {
    opacity: 0;
    pointer-events: none;
}

#modalCadastro.hide {
    top: 0;
}

.justify-center > p {
    color: #EBE7D4;
    margin-top: 0px;
    height: 20px;
}

.justify-center {
    margin-top: 10px;
    margin-bottom: -10px;
}

/* a{
  color: #EBE7D4;
}

a:hover{
  color: #0227bc;
} */

.msgError {
    display: none;
    justify-content: center;
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    font-size: 14px;
}

.passwordErrors {
    display: none;
    text-align: center;
    justify-content: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    margin: 20px 0 -30px 0;
}

.loginErrors {
    display: none;
    text-align: center;
    justify-content: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    margin: 20px 0 -30px 0;
}

/* Modal Login */

body > .loginContainer {
    justify-content: center;
}

.loginContainer {
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    width: 400px;
    background-color: #61876E;
}

#fadeLogin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #31302d3e;
    z-index: 5;
}

#modalLogin {
    background-color: #61876E;
    width: 450px;
    height: auto;
    text-align: center;
    padding: 1.2rem;
    border-radius: 1.6rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    z-index: 10;
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
}

.formLogin {
    margin-top: 15px; /*atenção aqui*/
    margin-bottom: 40px;
    text-align: center;
}

    .formLogin > input {
        align-items: center;
        width: 200px;
        text-align: center;
        padding: 15px;
        background-color: #ffffff;
        top: 1;
        left: 0;
        margin-top: 20px;
        transition: all .3s ease-out;
        border: none;
        font-size: 1rem;
    }

        .formLogin > input[type="submit"] {
            color: #888888;
            background-color: #EBE7D4;
            width: 150px;
            align-items: center;
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: 1rem;
        }


            .formLogin > input[type="submit"]:hover {
                color: #61876E;
                background-color: #ffffff;
                width: 150px;
                align-items: center;
                border-radius: 0.5rem;
                cursor: pointer;
                font-size: 1rem;
            }

#fadeLogin, #modalLogin {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#login-container > h2 {
    text-align: center;
    color: #EBE7D4;
    font-size: 35px;
    font-weight: 800;
    margin-top: -20px;
}

#modalLogin > login-container > form {
    background-color: #5a3636;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
}

.modal-body p {
    margin-bottom: 1rem;
}

#modalLogin.hide,
#fadeLogin.hide {
    opacity: 0;
    pointer-events: none;
}

#modalLogin.hide {
    top: 0;
}

.justify-center2 > p {
    color: #EBE7D4;
    font-size: 1.2rem;
    margin-top: 30px;
    height: 20px;
}

/* Inicio Modal Esqueceu Sua Senha */

#open-modal-password {
    background-color: #0c7d52;
}


#fadePassword {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #31302d3e;
    z-index: 5;
}

#modalPassword {
    background-color: #61876E;
    width: 430px;
    height: 460px; /*qqlr coisa mudar aqui*/
    text-align: center;
    padding: 1.2rem;
    border-radius: 1.6rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    z-index: 10;
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
}

#redefinirSenha-container {
    background-color: #61876E;
    height: 100%;
    max-width: 100%;
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
}

.formPassword {
    margin-top: 15px; /*atenção aqui*/
    margin-bottom: 40px;
}

    .formPassword > input {
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 15px;
        background-color: #ffffff;
        top: 1;
        left: 0;
        margin-top: 30px;
        transition: all .3s ease-out;
        border: none;
        font-size: 1.2rem;
    }

        .formPassword > input[type="submit"] {
            color: #888888;
            background-color: #EBE7D4;
            width: 150px;
            align-items: center;
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: 1.2rem;
            margin-top: 35px;
        }


            .formPassword > input[type="submit"]:hover {
                color: #61876E;
                background-color: #ffffff;
                width: 150px;
                align-items: center;
                border-radius: 0.5rem;
                cursor: pointer;
                font-size: 1.2rem;
                margin-top: 35px;
            }

#fadePassword, #modalPassword {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#redefinirSenha-container > h2 {
    text-align: center;
    color: #EBE7D4;
    font-size: 2.2rem;
    font-weight: 800;
    margin-top: -7px;
}

#modalPassword > login-container > form {
    background-color: #5a3636;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
}

.modal-body p {
    margin-bottom: 1rem;
}

#modalPassword.hide,
#fadePassword.hide {
    opacity: 0;
    pointer-events: none;
}

#modalPassword.hide {
    top: 0;
}

.justify-center {
    margin-top: 30px;
}

    .justify-center > a {
        color: #EBE7D4;
        font-size: 1.2rem;
        height: 20px;
    }
.form-control-custom {
    color: #212529;
    background-color: #EBE7D4;
    height: 40px;
    width: 200px;
    border: none;
    text-align: center;
    border-radius: 0.25rem;
    font-weight: 400;
    padding: 0.5rem;
}

.form-text-area {
    color: #212529;
    background-color: #EBE7D4;
    border: none;
    text-align: center;
    border-radius: 0.25rem;
    font-weight: 400;
    padding: 0.5rem;
}

.btn-layout-verde {
    padding: 0.5rem 2rem;
    background: linear-gradient(90deg, #698c75, #63816e, #496c56);
    color: #F7F7F7;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.btn-layout-verde:hover {
    padding: 0.5rem 2rem;
    background: linear-gradient(90deg, #698c75, #63816e, #496c56);
    color: #F7F7F7;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.link {
    color: #212529;
    text-decoration: none;
}

.link {
    color: #212529;
    text-decoration: none;
}

    .link:hover {
        color: #496c56;
        text-decoration: none;
    }