a{
  text-decoration: none;
  color:#ffffff;
}

.container{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07352E;
  padding: 10px;
  width:100vp;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.user-area a {
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
}

h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  font-family: Arial, Helvetica, sans-serif;
}

.flex{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
.gap-3{
  gap: 3rem;
}
.center{
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07352E;
  color: #fff;
  padding: 20px;
}

.area {
  width: 23%;
}

.area h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.area p {
  font-size: 14px;
}
