@using Microsoft.AspNetCore.Identity
@using FinancasNaMaoMVC.Areas.Identity.Data

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Finanças Na Mão</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinancasNaMaoMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="verde">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 nav">
            
            <div class="container-fluid">
                <div class="d-inline-flex justify-content-between align-items-center" style="width: 150px; ">
                    <img class="nav-img" src="~/icon.png">
                    <a class="navbar-brand nav-color nav-titulo ocultarLogo" asp-area="" asp-controller="Home" asp-action="Index">Finanças Na Mão</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                
                <partial name="_LoginPartial"/>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted verde">
        <div class="navbar-collapse d-sm-inline-flex justify-content-between border-bottom box-shadow flex-wrap">
            <ul class="navbar-custom d-flex flex-grow-1 flex-wrap">
                <li class="nav-item footer-item">
                    <a class="nav-link nav-color about" asp-area="" asp-controller="Home" asp-action="About">Quem Somos</a>
                </li>
                <li class="nav-item footer-item">
                    <a class="nav-link nav-color" asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
                </li>
                <li class="nav-item footer-item">
                    <a class="nav-link nav-color" asp-area="" asp-controller="Home" asp-action="Terms">Termos de Uso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-color" asp-area="" asp-controller="Home" asp-action="Contact">Fale Conosco</a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/headerModal.js"></script>
    <script src="~/js/cadastro.js"></script>
    <script src="~/js/login.js"></script>
    <script src="~/js/password.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
