@using FinancasNaMaoMVC.Areas.Identity.Pages.Account;
@using Microsoft.AspNetCore.Identity
@using FinancasNaMaoMVC.Areas.Identity.Data
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

<ul class="navbar-nav width d-flex">
@if (SignInManager.IsSignedIn(User))
{
    <div class="d-inline-flex flex-row justify-content-end align-items-start">
        
        <div class="d-flex flex-column justify-content-end align-items-center">
            <li class="nav-item text-right">
                <div class="dropdown px-2 d-inline-flex flex-row justify-content-center align-items-center" style="width: auto;">
                        <img style="widht: 2rem; height: 2rem; margin-right: 1rem; color: #F7F7F7" src="~/user-icon.png">
                        <button class="btn dropdown-toggle dropdown-toggle-split nav-color p-2"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <span class="sr-only ocultarUser">Olá, @UserManager.GetUserName(User)!</span>
                        </button>
                        <div class="dropdown-menu verde text-center px-4">
                            <a class="nav-link nav-color" asp-area="" asp-controller="Categorias" asp-action="Index">Página Inicial</a>
                            <hr class="dropdown-divider">
                            <a class="nav-link nav-color" asp-area="" asp-controller="Lancamentos" asp-action="Index">Minhas Movimentações</a>
                            <hr class="dropdown-divider">
                            <a class="nav-link nav-color" asp-area="" asp-controller="Categorias" asp-action="Index">Metas de Orçamento</a>
                            <hr class="dropdown-divider">
                            <a class="nav-link nav-color" asp-area="" asp-controller="Lancamentos" asp-action="Index">Meus Proventos</a>
                            <hr class="dropdown-divider">
                            <a class="nav-link nav-color" asp-area="" asp-controller="Categorias" asp-action="Index">Investimentos</a>
                            <hr class="dropdown-divider">
                            <a id="manage" class="nav-custom nav-color" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Perfil</a>
                        </div>
                    </div>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline nav-color text-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-custom btn-custom nav-color">Sair</button>
                </form>
            </li>
        </div>
    </div>
}
else
{
    @* Inicio modal recuperar senha *@
@*
    <div id="fadePassword" class="hide"></div>
      <div id="modalPassword" class="hide">
        <div id="redefinirSenha-container">
          <h2>Redefinir senha</h2>
            <p class="passwordErrors">aaaa</p>

          <form action="" class="formPassword"> 
            <label for="email"></label>
            <input type="email" name="email" class="emailPassword" id="email" placeholder="Digite seu e-mail" autocomplete="off">
            <input type="submit" class="passwordSubmit" value="Redefinir senha">

            <div class="justify-center">
              <a href="#" class="backBtn">
                Voltar
              </a>
            </div>
          </form>
        </div>
      </div>*@

      @* Fim do modal Recuperar Senha *@

      @* Inicio modal cadastro *@
@*
        <div id="fadeCadastro" class="hide"></div>
    <div id="modalCadastro" class="hide">
      <div id="cadastro-container">
        <h2>Criar Conta</h2> 

          <form id ="cadastroform"action =""> 
            <label for="" class="msgError"></label>
            <label for="nome"></label>
            <input type="name" name="nome" id="nomeCadastro" placeholder="Nome" autocomplete="off">
            <label for="email"></label>
            <input type="email" name="email" id="emailCadastro" placeholder="E-mail" autocomplete="off">
            <label for="contato"></label>
            <input type="tel" name="contato" id="contatoCadastro" placeholder="Contato" autocomplete="off">
            <label for="senha"></label>
            <input type="password" name="senha" id="senhaCadastro" placeholder="Senha">
            <label for="senhaConfirmar"></label>
            <input type="password" name="senhaConfirmar" id="senhaConfirmarCadastro" placeholder="Confirme sua senha">
            <div class="justify-center">
              <p>
                Ao se inscrever, você concorda com nossos Termos de Uso e Privacidade.
              </p>
            </div>
              <input type="submit" id= "cadastrar" value="Cadastrar">
          </form>
        </div>
      </div>*@

      @* Fim do modal cadastro *@

      @* Inicio modal Login *@

       @* <div id="fadeLogin" class="hide"></div>
        <div id="modalLogin" class="hide">
            <div id="login-container">
            <h2>Login</h2>
            <p class="loginErrors"></p>
                <form id="account" method="post" class="formLogin">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" type="email" name="email" id="emailLogin" placeholder="Digite seu e-mail" autocomplete="off">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" name="password" id="passwordLogin" placeholder="Digite sua senha">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div>
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>

                <input type="submit" id="submitLogin" value="Entrar">

                <div class="justify-center2">
                    <p>
                        Esqueceu sua senha?
                        <a href="#" class="open-modal-password">
                            Clique aqui!
                        </a>
                    </p>
                    <p>
                        Não tem uma conta?
                        <a href="#" class="registerModalBtn">
                            Cadastre-se
                        </a>
                     </p> 
                </div>
                </form>
            </div>
        </div>
*@

      @* Fim do modal login *@

    <li class="nav-item">
            <a class="nav-link btn-text btn-layout open-modal-Cadastro" id="register" asp-area="Identity" asp-page="/Account/Register">Crie sua conta</a>
    </li>
    <li class="nav-item">
            <a class="nav-link btn-text btn-layout open-modal-login" id="login" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </li>
}
</ul>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
