    @using Microsoft.AspNetCore.Identity
@using FinancasNaMaoMVC.Areas.Identity.Data

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

<ul class="navbar-nav width d-flex">
@if (SignInManager.IsSignedIn(User))
{
    <div class="d-inline-flex flex-row justify-content-end align-items-start">
        
        <div class="d-flex flex-column justify-content-end align-items-center">
            <li class="nav-item text-right">
                <div class="dropdown px-2 d-inline-flex flex-row justify-content-center align-items-center" style="width: auto;">
                        <img style="widht: 2rem; height: 2rem; margin-right: 1rem; color: #F7F7F7" src="~/user-icon.png">
                        <button class="btn dropdown-toggle dropdown-toggle-split nav-color p-2"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <span class="sr-only ocultarUser">Olá, @UserManager.GetUserName(User)!</span>
                        </button>
                        <div class="dropdown-menu verde text-center px-4">
                            <a class="nav-link nav-color" asp-area="" asp-controller="Categorias" asp-action="Index">Página Inicial</a>
                            <hr class="dropdown-divider">
                            <a class="nav-link nav-color" asp-area="" asp-controller="Lancamentos" asp-action="Index">Minhas Movimentações</a>
                            <hr class="dropdown-divider">
                            <a class="nav-link nav-color" asp-area="" asp-controller="Categorias" asp-action="Index">Metas de Orçamento</a>
                            <hr class="dropdown-divider">
                            <a class="nav-link nav-color" asp-area="" asp-controller="Lancamentos" asp-action="Index">Meus Proventos</a>
                            <hr class="dropdown-divider">
                            <a class="nav-link nav-color" asp-area="" asp-controller="Categorias" asp-action="Index">Investimentos</a>
                            <hr class="dropdown-divider">
                            <a id="manage" class="nav-custom nav-color" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Perfil</a>
                        </div>
                    </div>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline nav-color text-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-custom btn-custom nav-color">Sair</button>
                </form>
            </li>
        </div>
    </div>
}
else
{
    <li class="nav-item">
        <a class="nav-link btn-text btn-layout" id="register" asp-area="Identity" asp-page="/Account/Register">Crie sua conta</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn-text btn-layout" id="login" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </li>
}
</ul>
