<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Nova Despesa</title>
</head>
<body>
<main>
    <h1>Nova Despesa</h1>
    <div class="container">
        <div class="caixa1">
            <div class="nomeDespesa">

                <input type="text" placeholder="Nome da Despesa">

                
                <div class="despesaFixa">
                    <h2>Despesa Fixa</h2>

                    <input type="radio" id="sim" name="opcao" value="sim">
                    <label for="sim">Sim</label>
                    <input type="radio" id="nao" name="opcao" value="nao">
                    <label for="nao">Não</label>
                    
                </div>

            </div>

            <div class="valorDespesa">
 
                <input type="text" placeholder="Valor">

            <div id="categoriaSelecionada">
                <select id="selectCategoria">
                    <option value="">Selecione a categoria</option>
                    <option value="moradia">Moradia</option>
                    <option value="lazer">Lazer</option>
                    <option value="saude">Saúde</option>
                </select>  
            </div>
              
            <button id="btnCategoria">+ Incluir nova categoria</button>
            <div id="modalCategoria" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Incluir categoria</h2>
                    <form>
                     <label for="categoria"></label>
                     <input type="text" id="categoria" name="categoria" placeholder="Digite a categoria">
                     <button type="button" id="adicionar">Adicionar</button>
                    </form>
                </div>
            </div>

            </div>

            <div class="dataDespesa">

                <input type="text" placeholder="Data">
                
                <select>
                    <option value="">Selecione a periodicidade</option>
                    <option value="diaria">Diária</option>
                    <option value="semanal">Semanal</option>
                    <option value="quinzenal">Quinzenal</option>
                    <option value="mensal">Mensal</option>
                    <option value="trimensal">Trimensal</option>
                    <option value="anual">Anual</option>
                    
                  </select>

            </div>
        </div>
        <div class="caixa2">
            <div class="obs">
                <h2>Observações:</h2>
                <textarea name="" id="" cols="30" rows="10"></textarea>

            </div>

            <div class="buttonDespesa">
                <button>Adicionar despesa</button>
            </div>
           

        </div>
        
    </div>  

</main>

<script src="js/scripts.js"></script>

</body>
</html>