@model FinancasNaMaoMVC.Models.Categoria

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <dl class="row" style="background-color: #F7F7F7; border-radius: 10px; background-color: #60886e; border-radius: 10px; padding:20px 10px; width: 350px; height: 400px; margin: 0 auto;">
        <h4 style="color: white; width:100%; text-align:center; font-size: 28px; margin-bottom: -10px;">Deletar categoria</h4>
        <hr />
        <h3 style="font-size: 16px; color: white; margin-top: -10px;">Você tem certeza de que deseja deletar essa categoria?</h3>
        <dt class="col-sm-2" style="color: white;">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10" style="color: white; margin-left: 10px;">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2" style="color: white;">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10" style="color: white; margin-left: 10px;">
            @Html.DisplayFor(model => model.Usuario.Id)
        </dd>
    <form asp-action="Delete" style="display: flex; width: 100%; justify-content: space-between;">
        <input type="hidden" asp-for="ID" />
        <a asp-action="Index">Voltar para a lista</a>
        <input type="submit" value="Deletar" class="btn btn-danger" />
    </form>
    </dl>
    
</div>
