<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./addp.css">
  <title>Adicionar proventos</title>
</head>
<body>
  <div class="container">
    <h1>Adicionar proventos</h1>
    <div class="box"> 
      <div class="box-1">
        <div> <!------NAME------>
          <p>Nome</p>
          <input type='text' id='nome' name='nome' required>
        </div>
        <div> <!------VALOR------> 
          <p>Valor do investimento</p>
              <input id="number" type="number" />
        </div>
        <div> <!------DATA------>
          <p>Data do investimento</p>
          <input id="date" type="date" />
        </div>
      </div>
      <div class="box-2">
        <h2>Periodicidade do Provento</h2>
        <select class="">
          <option value="">Selecione</option>
          <option value="">Diaria</option>
          <option value="">Semanal</option>
          <option value="">Quinzenal</option>
          <option value="">Mensal</option>
          <option value="">Trimestal</option>
          <option value="">Anual</option>
        </select>
        <div class="btn">
          <button>Salvar</button>
        </div>
      </div>
    </div>
  </div> 
</body>
</html>