<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <title>Finaças</title>
</head>
<body>
  <div>
   <!-- NAV -->
  </div>
    <div class="container">
      <div>
        <img src="./money.png" alt="">
      </div>
      <div>
        <h3>Nenhum provento a ser administrado</h3> 
      </div>
      <div>
        <Button>
          Adicionar provento 
        </Button>
      </div>
  </div>
  <footer>
    <!--FOOTER -->
  </footer>
</body>
</html>