.container{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
img{
  max-width: 70px;
}

h3{
  font-size: 16px;
  color:rgb(58, 58, 58);
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem 0rem;
}
button{
 padding:1rem;
 border-radius: 8px;
 background: #07352E;
 color:#ffff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07352E;
  padding: 10px;
  width:100vp;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.user-area a {
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07352E;
  color: #fff;
  padding: 20px;
}

.area {
  width: 23%;
}

.area h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.area p {
  font-size: 14px;
}
button{
  padding:1rem 3rem;
  border-radius: 8px;
  background: #07352E;
  color:#ffff;
  margin: 5rem 1rem;
 }