<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./visaogeral.css">
  <title>Visao geral</title>
</head>
<body>
 
  <nav>
    <div class="logo">
      <a href="#">Visao geral</a>
    </div>
    <div class="user-area">
      <a href="#">Usuário</a>
      <a href="#">Sair</a>
    </div>
  </nav>
  <div class=" grid"> 
  <div class="table"> 
    <table border="1">
      <tr class="color-1 ">
          <td>Proventos</td>
          <td>Periodicidade</td>
          <td>Valor</td>
      </tr>
      <tr>
          <td>Salario</td>
          <td>Menssal</td>
          <td>R$3.250,00</td>
      </tr>
      <tr>
          <td>Aluguel</td>
          <td>Mensal</td>
          <td>R$2.000,00</td>
      </tr>
      <tr>
        <td>Venda doces</td>
        <td>Diario</td>
        <td>R$500,00</td>
    </tr>
  </table>
  <div>
    <a href="#">
    <button>
      Gerar relatório
    </button></a>
  </div>
</div>
<div>
  <div class=" box-1">
    <h3>
      Saldo de caixa
    </h3>
    <p>Saldo</p>
    <input type="number">
    <p>Conta poupança</p>
    <input type="number">
  </div><a href="./addp.html">
  <button>Adicionar proventos</button></a>
</div>
</div>
<footer>
  <div class="area">
    <a href="">
      <p>Quem somos</p>
    </a>
  </div>
  <div class="area">
    <a href="">
      <p>Politica e privacidade</p>
    </a>
  </div>
  <div class="area">
    <a href="">
      <p>Termos de Uso</p>
    </a>
  </div>
  <div class="area">
    <a href="">
      <p>Fale conosco</p>
    </a>
  </div>
</footer>
</body>
</html>