<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./visaogeral.css">
  <title>Document</title>
</head>
<body>
  <div> 
    <table border="1">
      <tr>
          <td>Proventos</td>
          <td>Periodicidade</td>
          <td>Valor</td>
      </tr>
      <tr>
          <td>Salario</td>
          <td>Menssal</td>
          <td>R$3.250,00</td>
      </tr>
      <tr>
          <td>Aluguel da loja</td>
          <td>Mensal</td>
          <td>R$2.000,00</td>
      </tr>
      <tr>
        <td>Venda doces</td>
        <td>Diario</td>
        <td>R$500,00</td>
    </tr>
  </table>
  <div>
    <h4>Gerar relatório</h4>
  </div>
</div>
<div>
  <div>
    <h3>
      Saldo de caixa
    </h3>
    <p>Saldo</p>
    <input type="number">
    <p>Conta poupança</p>
    <input type="number">
  </div>
  <button>Adicionar proventos</button>
</div>
</body>
</html>