body{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5rem;
}
.color-1{
  background-color: #07352E;
}
.table{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:2rem 0;
  width: 100%;

}
td{
  text-align: center;
  padding: 1.5rem;
  border:1px solid black;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box-1{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 8rem;
  border: 1px solid black;
  padding: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07352E;
  padding: 10px;
  width:100vp;

}

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.user-area a {
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07352E;
  color: #fff;
  padding: 20px;
}

.area {
  width: 23%;
}

.area h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.area p {
  font-size: 14px;
}
button{
  padding:1rem 2rem;
  border-radius: 8px;
  background: #07352E;
  color:#ffff;
  margin:1rem;
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  margin: 2rem auto;

}
@media screen and (max-width: 767px) {
  p, h2, h3{
      font-size: 14px;
  }
  .grid{
    display: grid;
    grid-template-columns:1fr;
  
  }
  td{
    text-align: center;
    padding: 0.4rem;
    border:1px solid black;
    
  }
  .table{
    margin:2rem 0;
    width: 100%;
  }
  .box-1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 4rem;
    border: 1px solid black;
    padding: 0.2rem;
  }
}