.container-despesa{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  img{
    max-width: 70px;
  }
  
  h3{
    font-size: 16px;
    color:rgb(58, 58, 58);
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem 0rem;
  }
  button{
   padding:1rem;
   border-radius: 8px;
   background: #07352E;
   color:#ffff;
  }