header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, rgb(97, 135, 110), rgb(10, 59, 12));
    color: #EBE7D4;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 30px;
}

body {
    background-color: #EBE7D4;
}
#menu {
    height: 80px;
    }    

#titulo {
    position: relative;
    left: 15px;
}

#saudacao{
    position: relative;
    left: 39cm;
    bottom: 5px;
    text-align: center;
}

#sair {
    position: relative;
    left: 37.5cm;
    top: 40px;
    text-align: center;
    color: #EBE7D4;
}

#iconuser {
position: relative;
left: 38cm;
top: 10px;
height: 60px;
}

#titletabela{
text-align: center;
font-size: xx-large;
font-family: Arial, Helvetica, sans-serif;
color:#A6A6A6;
}

#titlecontas {
position: relative;
bottom: 12px;
color: #A6A6A6;
}

.container1 {
    border-width: 10px;
    border-style: ridge;
    border-color: #EBE7D4;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    }

tr{
height: 120px;
}

td {
    width: 200px;
   
}


#imgsoma{
height: 30px;
position: relative;
left: 20cm;
top: 0.5cm;
}

#addconta {
position: relative;
left: 20.5cm;
top: 0.5cm;

}


#imgrelatorio{
height: 30px;
position: relative;
left: 24.5cm;
top: 0.5cm;
}

#relatorio {
position: relative;
left: 25cm;
top: 0.5cm;
}

#titulografico {
text-align: center;
position: relative;
top: 100px;
font-family: Arial, Helvetica, sans-serif;
color: #A6A6A6;
}

#container2 {
    position: relative;
    top: 100px;
    left: 600px; 
}

footer {
    display: flex;
    position: fixed;
    bottom: 0%;
    padding: 30px 0px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(97, 135, 110), rgb(10, 59, 12));
}

#rodape1 {
    position: relative;
    left: 3%;
    color: #EBE7D4;
}

#rodape2 {
    position: relative;
    left: 23%;
    color: #EBE7D4;
}

#rodape3 {
    position: relative;
    left: 43%;
    color: #EBE7D4;
}

#rodape4 {
    position: relative;
    left: 63%;
    color: #EBE7D4;
}
