@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="loginContainer">
    <section>
        <form id="account" method="post" class="formLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <input asp-for="Input.Email" id="emailLogin" placeholder="Digite seu e-mail" autocomplete="off">
            <span asp-validation-for="Input.Email" class="text-danger"></span>


            <input asp-for="Input.Password" id="passwordLogin" placeholder="Digite sua senha">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <div>
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>

            <input type="submit" id="submitLogin" value="Entrar">

            <div class="justify-center2">
                <p>
                    Esqueceu sua senha?
                    <a class="open-modal-password" asp-page="./ForgotPassword">
                        Clique aqui!
                    </a>
                </p>
                <p>
                    Não tem uma conta?
                    <a class="registerModalBtn" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                        Cadastre-se
                    </a>
                </p>
            </div>
        </form>
    </section>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
