@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="d-flex justify-content-center align-items-center">
    <div class="col-md-4 verde p-2 BoxCadastro" style="border-radius: 30px">
        <form class=" w-100 d-flex flex-column justify-content-center align-items-center" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-light text-center">Criar Conta</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating m-1">
                <input asp-for="Input.Nome" class="form-control" autocomplete="nome" aria-required="true" />
                <label asp-for="Input.Nome"></label>
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>
            <div class="form-floating m-1">
                <input asp-for="Input.Sobrenome" class="form-control" autocomplete="sobrenome" aria-required="true" />
                <label asp-for="Input.Sobrenome"></label>
                <span asp-validation-for="Input.Sobrenome" class="text-danger"></span>
            </div>
            <div class="form-floating m-1">
                <input asp-for="Input.Contato" class="form-control" autocomplete="contato" aria-required="true" />
                <label asp-for="Input.Contato"></label>
                <span asp-validation-for="Input.Contato" class="text-danger"></span>
            </div>
            <div class="form-floating m-1">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating m-1">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating m-1">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <p class="text-light text-center   m-1">Ao se inscrever, você concorda com nossos Termos de Uso e Privacidade.</p>
            </div>
            <button id="registerSubmit" type="submit" class="nav-link btn-text btn-layout d-flex justify-content-center align-items-center m-1">Cadastrar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
